dj-database-url==1.2.0
Django==4.1.7
django-allauth==0.57.0
django-appconf==1.0.5
django-ckeditor==6.7.0
django-filter==22.1
django-heroku==0.3.1
django-on-heroku==1.1.2
django-restframework==0.0.1
django-storages==1.13.2
django-widget-tweaks==1.5.0
djangorestframework==3.14.0
gunicorn==20.1.0
phonenumbers==8.13.23
Pillow==9.4.0
python-dateutil==2.8.2
python-decouple==3.8
validators==0.22.0
virtualenv==20.24.6
whitenoise==6.4.0