{% extends "base.html" %}

{% block content %}
<style>
  .container{
    padding-top: 40px;
  }
  .p-appointmate{
    font-size: 30px;
  }
</style>
  <div class="container">
    <a class="btn btn-primary d-flex justify-content-center" href="{% url 'appointment-create' %}">Create Appointment</a>
    <p class="p-appointmate">Appointment List</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Patient Name</th>
        <th>Doctor</th>
        <th>Time to Meet Doctor</th>
        <th>Appointment Done?</th>
      </tr>
    </thead>
    <tbody>
      {% for appointment in appointments %}
        <tr>
          <td>{{ appointment.patient.first_name }} {{ appointment.patient.last_name }}</td>
          <td>{{ appointment.doctor.first_name }} {{ appointment.doctor.last_name }}</td>
          <td>{{ appointment.appointment_date }}</td>
          <td>
            {% if appointment.is_confirmed %}
              <span>&#10003;</span> <!-- Checkmark symbol -->
            {% else %}
              <span>&#10007;</span> <!-- Cross symbol -->
            {% endif %}
          </td>
      {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}
